.main-chat
  .main-chat__group-info
    .group-detail
      = @group.name
      %ul.group-detail__member
        Member：
        - @group.users.each do |user|
          = user.name
        %li.group-detail__name
    = link_to edit_group_path(@group), class: "group-edit" do
      Edit
  .main-chat__member-message
    = render @messages
  .main-chat__message-form
    .form
      = form_for [@group, @message], html: {class: "new-form"} do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__file' do
            = icon('fas', 'image', class: 'input-box__file__awesome-image')
            = f.file_field :image, class: 'input-box__file__form'
        = f.submit 'Send', class: 'submit-btn'