.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top-items__btn" do
          %i.fas.fa-edit.top-items__btn--icon
        = link_to "/users/#{current_user.id}/edit", class: "top-items__btn" do
          %i.fa.fa-cog.top-items__btn--icon
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group__lists" do
          .group__list
            = group.name
          .group__message
            = group.show_last_message